body {
  @apply font-brand;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.shadow {
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
}

.btn {
  @apply px-5 py-3 bg-brand-blue rounded-lg text-white text-lg leading-none font-bold font-medium border-solid border-1 border-brand-blue cursor-pointer outline-none transition-all duration-500;
  &:hover {
    @apply bg-transparent text-brand-blue;
  }
}
